/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.seperator.high {
    background: rgb(140, 140, 140);
    width: 1px;
}

#wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#nav{
    height:240px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 10%, rgba(0,0,0,0.1) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 10%,rgba(0, 0, 0, 0.1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%,rgba(0, 0, 0, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08212121', endColorstr='#cc000000',GradientType=0 )
}
#logowrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 95vw;
    margin: auto;
    color: rgb(29, 114, 108);
}
#logoframe {
    font-size: 3.2em;
    font-weight: bolder;
    text-shadow: 2px 1px rgb(2, 59, 55);
    margin-right: 2px;
}

#settings {
    height: 42px;
    width: 42px;
    border-radius: 42px;
    font-size: 42px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(240,240,240);
}


#quicklook {

}
#greeting{
    text-align: center;
    height: 60px;
}
#info, #progresswrapper{
    padding: 5px;
}
#info {
    display: flex;
    justify-content: space-between;
    width: 71.42vw;
    margin: auto;
}
#info > * {
    padding: 5px;
}
#date{
    width:50%;
}
#progresswrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
#progess {
    width: 71.42vw;
    height: 20px;
    border: 1px solid rgb(127, 173, 44);
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.4);
}
#progressbar {
    background: rgb(127, 173, 44);
    height: 100%;
    transition: width 0.25s cubic-bezier(0.75, 0.02, 0.5, 1);
}

#dayselector{
    display: flex;
    border-bottom: 1px solid rgb(140,140,140);
}
.taskday{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}
.taskdayhead{
    display: inline-block;
    text-align: center;
    padding: 1px 3px;
}
.taskday.active > .taskdayhead{
    background-color: rgb(186, 47, 47);
    color: white;
}
.taskdaycontent{
    text-align: center;
    flex: 1;
    padding: 1px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vmin;
}



#tasklist{
    flex: 1;
    overflow-y: scroll;
}
.task{
    display: flex;
}
.task-icon-wrapper{
    width: 14.28vw;
    height: 14.28vw;
    border-bottom: 1px solid rgb(120,120,120);
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-icon {
    height: 10vw;
    width: 10vw;
    border-radius: 100%;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
}
.one{
    border: 1px solid rgb(150, 28, 22);
    background: rgb(186, 54, 47);
}
.two{
    border: 1px solid rgb(123, 18, 73);
    background: rgb(152, 39, 99);
}
.three{
    border: 1px solid rgb(17, 117, 29);
    background: rgb(37, 144, 50);
}
.four{
    border: 1px solid rgb(33, 33, 33);
    background: rgb(55, 55, 55);
}
.five{
    border: 1px solid rgb(240, 240, 240);
    background: rgb(255, 255, 255);
}

.task-text {
    flex: 1;
    border-bottom: 1px solid rgb(120,120,120);
    transition: color 0.25s cubic-bezier(0.75, 0.02, 0.5, 1);
    padding: 1.14vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.task-title{
    font-size: 1.1em;
}
.task-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}
.task-done{
    background: rgb(127, 173, 44);
    border-left:1px solid rgb(97, 137, 24);
    border-bottom:1px solid rgb(97, 137, 24);
    width: 14.28vw;
    height: 14.28vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vmin;
    color: white;
}
.task-helper{
    width: 14.28vw;
    height: 14.28vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vmin;
    border-bottom: 1px solid rgb(120,120,120);
    color: white;
}

.task.done{
    background: rgb(127, 173, 44);
    animation: colorfadeinLeft 0.2s;
}
.task.done > .task-text{
    color: white;
}
.task.done > .task-done{
    border-left: 1px solid rgb(127, 173, 44);
    color: rgb(127, 173, 44);
}
.task.finished > .task-helper{
    color: rgb(127, 173, 44);
}

.task.addnew {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(186, 47, 47);
    font-size: 8vh;
    font-weight: 900;
    color: white;
    text-shadow: 2px 1px rgb(148, 26, 26);
    width: 100%;
    transition: all 0.25s cubic-bezier(0.75, 0.02, 0.5, 1);
}
.task.addnew:hover{
    font-size: 10vh;
}
.task.addnew:focus, .task.addnew:active{
    font-size: 10vh;
    text-shadow: 3px 4px rgb(148, 26, 26);
}

@keyframes colorfadeinLeft
{
    0%   {background: linear-gradient(90deg, rgba(127, 173, 44, 0.0) 100%, rgb(127, 173, 44) 0%);}
    10%  {background: linear-gradient(90deg, rgba(127, 173, 44, 0.0) 90%, rgb(127, 173, 44) 10%);}
    20%  {background: linear-gradient(90deg, rgba(127, 173, 44, 0.0) 80%, rgb(127, 173, 44) 20%);}
    30%  {background: linear-gradient(90deg, rgba(127, 173, 44, 0.0) 70%, rgb(127, 173, 44) 30%);}
    40%  {background: linear-gradient(90deg, rgba(127, 173, 44, 0.0) 60%, rgb(127, 173, 44) 40%);}
    50%  {background: linear-gradient(90deg, rgb(127, 173, 44) 50%, rgba(127, 173, 44, 0.0) 50%);}
    50%  {background: linear-gradient(270deg, rgb(127, 173, 44) 50%, rgba(127, 173, 44, 0.0) 50%);}
    60%  {background: linear-gradient(270deg, rgb(127, 173, 44) 60%, rgba(127, 173, 44, 0.0) 40%);}
    70%  {background: linear-gradient(270deg, rgb(127, 173, 44) 70%, rgba(127, 173, 44, 0.0) 30%);}
    80%  {background: linear-gradient(270deg, rgb(127, 173, 44) 80%, rgba(127, 173, 44, 0.0) 20%);}
    90%  {background: linear-gradient(270deg, rgb(127, 173, 44) 90%, rgba(127, 173, 44, 0.0) 10%);}
    100% {background: linear-gradient(270deg, rgb(127, 173, 44) 100%, rgba(127, 173, 44, 0.0) 0%);}
}

#overview{
    color: white;
    background: rgb(29, 114, 108);
    display: flex;
    justify-content: center;
    align-items: center;
    height:10vh;
    font-size: 6vh;
    text-shadow: 1px 2px rgb(16, 91, 86);
    transition: all 0.25s cubic-bezier(0.75, 0.02, 0.5, 1);
}
/**
#overview:hover{
    font-size: 8vh;
}
#overview:focus, #overview:active{
    font-size: 8vh;
    text-shadow: 3px 4px rgb(16, 91, 86);
}
**/

#stats_page{
    color: white;
    background: rgb(29, 114, 108);
    height: 90vh;
}
#stats_page.hide{
    height: 0px;
    overflow: hidden;
}

#chart_wrapper, #chart_labels{
    width: 71.42vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.chart{
    height: 30vh;
    margin: 10px;
    min-width: 20px;
    max-width: 45px;
    display: flex;
    align-items: flex-end;
    background: rgb(16, 91, 86);
    flex: 1;
    overflow: hidden;
    border-radius: 2px;
}
.chartbox{
    background: white;
    width: 100%;
    transition: height 0.25s cubic-bezier(0.75, 0.02, 0.5, 1) 0.25s;
}
.chartbox.hide{
    height: 0% !important;
}
.label{
    width: 8vmin;
    height: 8vmin;
    max-width: 40px;
    max-height: 40px;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
}

#ranking {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
}
.rank {
    display: flex;
    margin: 10px 0;
}
.rank_no{
    width: 14.28vw;
    padding: 5px;
    box-sizing: border-box;
    font-size: 8vw;
    font-weight: bold;
    text-shadow: 1px 2px rgb(16, 91, 86);
    display: flex;
    align-items: center;
}
.rank_body{
    padding: 8px;
    box-sizing: border-box;
    border-radius: 2px;
    background: white;
    color: black;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
    flex: 1;
    display: flex;
}
.rank_text{
    height: 14vw;
    margin-left: 10px;
}
.rank_name {
    font-weight: bold;
    font-size: 1.4em;
}
.rank_margin {
    width: 14.28vw;
}
.rank_avatar {
    width: 14vw;
    height: 14vw;
    border-radius: 100%;
}

#ranking > .rank:nth-child(1) > .rank_no{
    font-size: 11vw;
}
#ranking > .rank:nth-child(2) > .rank_no{
    font-size: 9vw;
}



#add_new{
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgb(186, 47, 47);
    color: #ffffff;
    -webkit-transition: margin 0.25s cubic-bezier(0.75, 0.02, 0.5, 1);
    -moz-transition: margin 0.25s cubic-bezier(0.75, 0.02, 0.5, 1);
    -ms-transition: margin 0.25s cubic-bezier(0.75, 0.02, 0.5, 1);
    -o-transition: margin 0.25s cubic-bezier(0.75, 0.02, 0.5, 1);
    transition: margin 0.25s cubic-bezier(0.75, 0.02, 0.5, 1);
    overflow: hidden;
    z-index: 1;
}
#add_new.hide{
    margin-left: 100vw;
    width: 0px;
}

#add_new_back{
    font-size: 8vh;
    font-weight: 900;
    color: white;
    text-shadow: 2px 1px rgb(148, 26, 26);
    padding: 5px;
    width: 14.28vw;
    height: 14.28vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
#add_new_form{
    flex: 1;
    width: 71.42vw;
    margin: auto;
    position: relative;
}
#add_new_form_submit{
    height: 10vh;
    font-size: 6.5vh;
    font-weight: 900;
    background: white;
    color: rgb(186, 47, 47);
    text-shadow: 2px 1px rgb(148, 26, 26);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.input_line{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
#add_friends{

}

#label_text{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    margin-top: 1vmin;
}
#choose_label{
    width: 71.42vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
#choose_label > .label_wrapper{
    height:10vmin;
    width:10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
#choose_label > .label_wrapper > .label{
    color: rgb(186, 47, 47);
    text-shadow: 1px 1px rgb(148, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vmin;
    font-weight: bold;
    transition: all 0.25s cubic-bezier(0.75, 0.02, 0.5, 1);
}

#choose_label > .label_wrapper > .label.active{
    height: 9vmin;
    width: 9vmin;
    box-shadow: 0px 3px 20px 2px rgba(0,0,0,0.4);
}
#overlay{
    width:0px;
    height:0px;
    overflow: hidden;
    transition: all 0.25s cubic-bezier(0.75, 0.02, 0.5, 1);
}
#overlay.active{
    display: flex;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    z-index: 2;
}
#add_friends_box{
    margin: 10vh 7.14vw;
    background: white;
    flex: 1;
    border-radius: 3px;
    border: 1px solid rgb(186, 47, 47);
    box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.32);
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
